<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Bunenu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/login/images/icons/favicon.ico" />
    @Styles.Render("~/Content/css/login")
    <!--===============================================================================================-->
</head>
<body>
    @RenderBody();
    





   
    @Scripts.Render("~/bundles/js/login")
    @RenderSection("scripts", required: false)
</body>
</html>